/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
body {
    background-color: rgb(239 239 239 / 77%);
}
.singup,
.login {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: block;
    font-weight: bold;
    font-size: x-large;
    margin-top: 1.5em;
}

#cardSignup,
#cardLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    width: 350px;
    flex-direction: column;
    gap: 35px;
    border-radius: 15px;
    background: #caffe4;
    box-shadow: 9px 9px 32px #c8c8c8,
        -16px -16px 32px #fefefe;
    border-radius: 8px;
}

#cardSignup{
    background: #caffe4;
}

#cardLogin {
    background: #cadcff;
}

.inputBox,
.inputBox1 {
    position: relative;
    width: 250px;
}

.inputBox input,
.inputBox1 input {
    width: 100%;
    padding: 15px;
    outline: none;
    border: none;
    color: #000;
    font-size: 1em;
    background: transparent;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transition: 0.1s;
    border-bottom-left-radius: 8px;
}

.inputBox span,
.inputBox1 span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 8px;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    transform: translateX(113px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #000;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
}

.inputBox1 input:valid~span,
.inputBox1 input:focus~span {
    transform: translateX(156px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #000;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
}

.inputBox input:valid,
.inputBox input:focus,
.inputBox1 input:valid,
.inputBox1 input:focus {
    border: 2px solid #000;
    border-radius: 8px;
}

.enter {
    height: 45px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #000;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin-bottom: 3em;
}

.enter:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

#home-tab, #profile-tab {
    color: #383838;
    background-color: #f2f2f2;

}

#home-tab.active, #profile-tab.active {
    color: #ffc842;
    text-shadow: 0.3px 0 #383838, -0.3px 0 #383838, 0 0.3px #383838, 0 -0.3px #383838, 0.1px 0.1px #ffffff, -0.1px -0.1px #ffffff, 0.1px -0.1px #f9fafb, -0.1px 0.1px #fff;
}

#gallery img {
    transition: transform 0.5s; 
}

#gallery img:hover {
    transform: scale(1.02); 
    cursor: pointer;
  }

.navbar {
    background-color: rgb(0 0 0 / 77%);
}

.codegram-logo {
    font-family: 'Pacifico', cursive;
    font-size: 35px; 
    color: #ebebeb;
    text-shadow: 2px 0 #000000ab, -2px 0 #000000ab, 0 2px #ffc107b8, 0 -2px #000000ab, 1px 1px #ffffff, -1px -1px #ffffff, 1px -1px #f9fafb, -1px 1px #fff;
}

#iconReverse{  
    transform: scaleX(-1); 
}

.profile-image img {
    width: 100%;
    max-height: 50px;
    object-fit: cover;
    object-position: center;
}
.profile {
    width: 50px;
    border-radius: 50%;
    border-style: solid;
    border: double 3px transparent;
    background-image: linear-gradient(white, white),linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.custom-modal-body:focus {
    box-shadow: 0 0 10px rgba(255, 193, 7, 0.5); /* Sombra amarilla */
    border-color: rgba(255, 193, 7, 0.5); /* Borde amarillo */
}